 body {
    font-family: 'Roboto', sans-serif;
  }

  .card h3.m-b-20 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: black;
  }

  .card h3.m-b-2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: black;
  }

  .bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
  }

  .bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
  }

  .bg-c-yellow {
    background: linear-gradient(45deg, #ffb64d, #ffcb80);
  }

  .bg-c-pink {
    background: linear-gradient(45deg, #ff5370, #ff869a);
  }

  .card {
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border-radius: 0px;
    border: none;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
  }

  .card .card-block {
    padding: 20px;
    text-align: center;
  }

  #map {
    width: 100%;
    height: 500px;
  }

  