

body {
  position: relative;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* Pseudo-element for background image with opacity */
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/newcorellahall.jpg") center center/cover no-repeat;
  opacity: 0.5; /* Adjust the opacity for the background image */
  z-index: -1; /* Ensures the content stays above the background */
}

.register-card {
  max-width: 1100px;
  height: 640px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: white;
}

.image-side {
   background: url("../images/newcorellahall.jpg") center center/cover no-repeat;

  min-height: 100%;
}

.form-side {
  padding: 40px;
}

.form-side .form-control {
  border-radius: 12px;
  font-size: 12px; 
  padding: 8px 12px; 
  height: 35px; 
}

.btn-primary {
  border-radius: 12px;
}

@media (max-width: 768px) {
  .image-side {
    display: none;
  }
}

.logo {
  width: 100px; /* Adjust the size of the logo */
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
